<style>
    .checked {
        color: orange;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-user font-green-sharp"></i>
                    <span class="caption-subject font-black-sharp bold uppercase">تفاصيل مستخدم</span>
                </div>
            </div>



            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="col-md-6">
                            <p class="col-md-12"><label class="control-label col-md-12 bold"> <i class="fa fa-user font-green-sharp"></i>الاسم الأول</label>
                                <label class="control-label col-md-12">{{row.name}} </label>
                            </p>
                            <p class="col-md-12"><label class="control-label col-md-12 bold"> <i class="fa fa-envelope font-green-sharp"></i> البريد الالكتروني</label>
                                <label class="control-label col-md-12">{{row.email}} </label>
                            </p>
                            <p class="col-md-12"><label class="control-label col-md-12 bold"> <i class="fa fa-mobile font-green-sharp"></i> رقم الجوال   </label>
                                <label class="control-label col-md-12">{{row.mobile}} </label>
                            </p>
                            <p class="col-md-12"><label class="control-label col-md-12 bold"><i class="fa fa-flag font-green-sharp"></i> الدولة </label>
                                <label class="control-label col-md-12">{{row.country.Name}} </label>
                            </p>
                            <p class="col-md-12"><label class="control-label col-md-12 bold"><i class="fa fa-building font-green-sharp"></i> المدينة  </label>
                                <label class="control-label col-md-12">{{row.city_name.Name}} </label>
                            </p>
                        </div>

                        <div class="col-md-6">
                            <div class="fileinput-new thumbnail col-md-12" style="width: 200px; height: 140px; margin-right: 30px;">
                                <img src="assets/layouts/layout/img/avatar_small.jpg" style="width: 200px; height: 130px;" ng-if="row.image == null"/>            
                                <img src="../local/storage{{row.image}}" style="width: 200px; height: 130px;" alt=""/></div>
                            <p class="col-md-12"> <label class="control-label col-md-12 bold"><i class="fa fa-list font-green-sharp"></i>  الحالة </label>
                                <select class="form-control" ng-model="row.status_id" ng-change="activeReson(row.status_id)">
                                    <option ng-repeat="x in status" value="{{x.id}}">{{x.name}}</option>
                                </select>
                            </p>

                            <p class="col-md-12">
                                <textarea class="col-md-12" rows="4" ng-model="row.delete_reason" placeholder="سبب الحذف" ng-disabled="enableReson">{{row.delete_reason}}</textarea>
                            </p>

                        </div>                     
                    </div>
                    <div class="col-md-5">
                        <div class="portlet light bordered">
                            <div class="portlet-title" style="text-align: center; min-height: 1px !important;">
                                <span class="caption-subject font-green bold" >ناقل</span>
                            </div>
                            <div class="portlet-body">
                                <div class="row">
                                    <div class="col-md-9">
                                        <span ng-if="carriersAvg>=1" class="fa fa-star checked"></span>
                                        <span ng-if="carriersAvg>=2" class="fa fa-star checked"></span>
                                        <span ng-if="carriersAvg>=3" class="fa fa-star checked"></span>
                                        <span ng-if="carriersAvg>=4" class="fa fa-star checked"></span>
                                        <span ng-if="carriersAvg>=5" class="fa fa-star checked"></span>
                                        
                                        <span ng-if="carriersAvg<1" class="fa fa-star"></span>
                                        <span ng-if="carriersAvg<2" class="fa fa-star"></span>
                                        <span ng-if="carriersAvg<3" class="fa fa-star"></span>
                                        <span ng-if="carriersAvg<4" class="fa fa-star"></span>
                                        <span ng-if="carriersAvg<5" class="fa fa-star"></span>
                                        <p>{{carriersPoints}} نقطة</p>
                                    </div>
                                    <div class="col-md-3">{{row.carriers.length}} رحلة</div>

                                </div>
                            </div>
                        </div>
                        <!--                        // as customer-->
                        <div class="portlet light bordered">
                            <div class="portlet-title" style="text-align: center; min-height: 1px !important;">
                                <span class="caption-subject font-green bold" >عميل</span>
                            </div>
                            <div class="portlet-body">
                                <div class="row">
                                    <div class="col-md-9">
                                        <span ng-if="customersAvg>=1" class="fa fa-star checked"></span>
                                        <span ng-if="customersAvg>=2" class="fa fa-star checked"></span>
                                        <span ng-if="customersAvg>=3" class="fa fa-star checked"></span>
                                        <span ng-if="customersAvg>=4" class="fa fa-star checked"></span>
                                        <span ng-if="customersAvg>=5" class="fa fa-star checked"></span>
                                        
                                        <span ng-if="customersAvg<1" class="fa fa-star"></span>
                                        <span ng-if="customersAvg<2" class="fa fa-star"></span>
                                        <span ng-if="customersAvg<3" class="fa fa-star"></span>
                                        <span ng-if="customersAvg<4" class="fa fa-star"></span>
                                        <span ng-if="customersAvg<5" class="fa fa-star"></span>
                                        <p>{{customersPoints}} نقطة</p>
                                    </div>
                                    <div class="col-md-3">{{row.customers.length}} رحلة</div>

                                </div>
                            </div>
                        </div>
                        
                        <div class="bold">عدد الكيلو مترات التى قطعها: <span class="font-green-sharp">{{total_distace}}</span> كيلومتر</div>

                    </div>

                    <!--tabs-->
                    <div class="col-md-12">
                        <div class="portlet-body">
                            <div class="row" style="border: solid 1px #eee; margin:15px; padding: 15px;">
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <ul class="nav nav-tabs tabs-left">

                                        <li class="dropdown" >
                                            <a data-target="#tab_1" tabindex="-1" data-toggle="tab" aria-expanded="true"> عميل </a>

                                        </li>
                                        <li class="dropdown" >
                                            <a data-target="#tab_2" tabindex="-1" data-toggle="tab" aria-expanded="true"> ناقل </a>

                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    <div class="tab-content">

                                        <div class="tab-pane fade"  id="tab_2">
                                            <div  ng-show="row.carriers.length == 0">
                                                <table class="table table-striped table-bordered table-hover" id="sample_11">
                                                    <thead>
                                                        <tr style=" background: #44b6ae; color: #fff;" class="">
                                                            <th class="text-center" > المعرف</th>
                                                            <th class="text-center" >من</th>
                                                            <th class="text-center" >إلى</th>
                                                            <th class="text-center" >الحالة </th>
                                                            <th class="text-center">العملية</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="text-center" colspan="5" >لاتوجد سجلات</td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div ng-show="row.carriers.length > 0">

                                                <table class="table table-striped table-bordered table-hover" id="sample_11">
                                                    <thead>
                                                        <tr style=" background: #44b6ae; color: #fff;" class="">
                                                            <th class="text-center" ng-click="sort('order_id')"> المعرف
                                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'order_id'" ng-class="{
                                                                        'glyphicon-chevron-up':reverse, 'glyphicon-chevron-down':!reverse}"></span>
                                                            </th>
                                                            <th class="text-center" ng-click="sort('from_place')">من
                                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'from_place'" ng-class="{
                                                                        'glyphicon-chevron-up':reverse, 'glyphicon-chevron-down':!reverse}"></span></th>
                                                            <th class="text-center" ng-click="sort('to_place')">إلى
                                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'to_place'" ng-class="{
                                                                        'glyphicon-chevron-up':reverse, 'glyphicon-chevron-down':!reverse}"></span></th>
                                                            <th class="text-center" ng-click="sort('status.name')">الحالة 
                                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'status.name'" ng-class="{
                                                                        'glyphicon-chevron-up':reverse, 'glyphicon-chevron-down':!reverse}"></span></th>
                                                            <th class="text-center">العملية</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr dir-paginate="x in row.carriers |orderBy:sortKey:reverse|filter:search|itemsPerPage:null">
                                                            <td class="text-center" >{{ x.order_id}}</td>
                                                            <td class="text-center" >{{ x.from_place}}</td>
                                                            <td class="text-center" >{{ x.to_place}}</td>
                                                            <td class="text-center" >{{ x.status.name}}</td>
                                                            <td class="text-center">
                                                                <a href="#/carriers/view/{{x.id}}" class="btn text-success" title="تفاصيل"><i class="fa fa-list"></i></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>

                                        </div>

                                        <div class="tab-pane fade active in"  id="tab_1">

                                            <div  ng-show="row.customers.length == 0">
                                                <table class="table table-striped table-bordered table-hover" id="sample_11">
                                                    <thead>
                                                        <tr style=" background: #44b6ae; color: #fff;" class="">
                                                            <th class="text-center" > المعرف</th>
                                                            <th class="text-center" >من</th>
                                                            <th class="text-center" >إلى</th>
                                                            <th class="text-center" >الحالة </th>
                                                            <th class="text-center">العملية</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="text-center" colspan="5" >لاتوجد سجلات</td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div ng-show="row.customers.length > 0">

                                                <table class="table table-striped table-bordered table-hover" id="sample_11">
                                                    <thead>
                                                        <tr style=" background: #44b6ae; color: #fff;" class="">
                                                            <th class="text-center" ng-click="sort('order_id')"> المعرف
                                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'order_id'" ng-class="{
                                                                        'glyphicon-chevron-up':reverse, 'glyphicon-chevron-down':!reverse}"></span>
                                                            </th>
                                                            <th class="text-center" ng-click="sort('from_place')">من
                                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'from_place'" ng-class="{
                                                                        'glyphicon-chevron-up':reverse, 'glyphicon-chevron-down':!reverse}"></span></th>
                                                            <th class="text-center" ng-click="sort('to_place')">إلى
                                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'to_place'" ng-class="{
                                                                        'glyphicon-chevron-up':reverse, 'glyphicon-chevron-down':!reverse}"></span></th>
                                                            <th class="text-center" ng-click="sort('status.name')">الحالة 
                                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'status.name'" ng-class="{
                                                                        'glyphicon-chevron-up':reverse, 'glyphicon-chevron-down':!reverse}"></span></th>
                                                            <th class="text-center">العملية</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr dir-paginate="x in row.customers |orderBy:sortKey:reverse|filter:search|itemsPerPage:null">
                                                            <td class="text-center" >{{ x.order_id}}</td>
                                                            <td class="text-center" >{{ x.from_place}}</td>
                                                            <td class="text-center" >{{ x.to_place}}</td>
                                                            <td class="text-center" >{{ x.status.name}}</td>
                                                            <td class="text-center">
                                                                <a href="#/customers/view/{{x.id}}" class="btn text-success" title="تفاصيل"><i class="fa fa-list"></i></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
                <div class="form-actions" style="background-color: #f5f5f5; padding: 20px 0">
                    <div class="row">
                        <div class="col-md-offset-5 col-md-6">
                            <button ng-blur="focus_first()" ng-click="_save(row)" ng-disabled="form.$invalid" class="btn green submit-btn">
                                <i class="fa fa-save"></i> حفظ </button>
                            <button type="button" ng_click='_cancel()' class="btn red"> <i class="fa fa-mail-forward"></i> رجوع</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->