
<div class="row">
    <div class="col-md-12">
        <div class="portlet-body">
            <div data-ng-include="'tpl/forms/messages.html'"></div>
        </div>
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-users font-green-sharp"></i>
                    <span class="caption-subject font-black-sharp bold uppercase">المديرين</span>
                </div>
            </div>
            <div class="portlet box green-haze">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-plus" ng-if="mode==='add'"></i>
                        <i class="fa fa-edit" ng-if="mode==='edit'"></i>{{title}}
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form  name="form" role="form" novalidate class="form-horizontal form-row-seperated">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="control-label col-md-2">الاسم
                                    <span class="required" aria-required="true"> * </span></label>
                                <div class="col-md-8">
                                <input type="text" class="form-control " name="name"  ng-model="row.name" required  />
                                <div class="alert alert-danger" aria-required="true" ng-show="form.name.$dirty && form.name.$invalid" style="padding: 7px; border-right: solid 5px #f0868e; margin: 5px 0 0 0;">
                                        هذا الحقل مطلوب </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">اسم المستخدم 
                                <span class="required" aria-required="true"> * </span></label> 
                                <div class="col-md-8">
                                <input type="text" class="form-control " name="username"  ng-model="row.username"  required/>
                                <div class="alert alert-danger" aria-required="true" ng-show="form.username.$dirty && form.username.$invalid" style="padding: 7px; border-right: solid 5px #f0868e; margin: 5px 0 0 0;">
                                        هذا الحقل مطلوب </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2"> كلمة المرور
                                <span class="required" aria-required="true"> * </span></label>
                                <div class="col-md-8">
                                <input type="password" class="form-control " name="password"  ng-model="row.password" required />
                                <div class="alert alert-danger" aria-required="true" ng-show="form.password.$dirty && form.password.$invalid" style="padding: 7px; border-right: solid 5px #f0868e; margin: 5px 0 0 0;">
                                        هذا الحقل مطلوب </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">تأكيد كلمة المرور
                                <span class="required" aria-required="true"> * </span></label>
                                <div class="col-md-8">
                                <input  type="password" class="form-control " name="password2" ng-model="row.password2" />
                                <div class="alert alert-danger" aria-required="true" ng-show="form.password2.$dirty && form.password2.$invalid" style="padding: 7px; border-right: solid 5px #f0868e; margin: 5px 0 0 0;">
                                       هذا الحقل مطلوب   </div>
                                <div class="alert alert-danger" aria-required="true" ng-show="(row.password != row.password2)" style="padding: 7px; border-right: solid 5px #f0868e; margin: 5px 0 0 0;">
                                         كلمة المرور غير متطابقة   </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">رقم الجوال
                                <span class="required" aria-required="true"> * </span></label>
                                <div class="col-md-8">
                                <input  type="number" class="form-control " name="mobile" ng-model="row.mobile" required />
                                <div class="alert alert-danger" aria-required="true" ng-show="form.mobile.$dirty && form.mobile.$invalid" style="padding: 7px; border-right: solid 5px #f0868e; margin: 5px 0 0 0;">
                                        هذا الحقل مطلوب </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">البريد الالكتروني</label>
                                <div class="col-md-8">
                                <input  type="email" class="form-control " name="email" ng-model="row.email" />
                                <div class="alert alert-danger" aria-required="true" ng-show="form.email.$dirty && form.email.$error.email" style="padding: 7px; border-right: solid 5px #f0868e; margin: 5px 0 0 0;">
                                         بريد الكتروني غير صحيح </div>
                                </div>
                            </div>
                        </div>  
                        <div class="form-actions" style="background-color: #f5f5f5;">
                            <div class="row">
                                <div class="col-md-offset-2 col-md-10">
                                    <button ng-blur="focus_first()" ng-click="_save(row)" ng-disabled="form.$invalid || (row.password2 != row.password)" class="btn green submit-btn">
                                        <i class="fa fa-save"></i> حفظ </button>
                                    <button type="button" ng_click='_cancel()' class="btn red"> <i class="fa fa-mail-forward"></i> رجوع</button>
                                </div>
                            </div>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->