<div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-steel">
                        <i class="font-green-steel"></i>
                        <h3>
                            <i class="fa fa-users font-green-sharp"></i>
                            <span class="caption-subject font-dark bold">قائمة المديرين</span>
                        </h3>
                    </div>

                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12" style="background-color:  #e7ecf1;margin-bottom: 1%; padding-top: 2%; padding-bottom: 2%; box-sizing: border-box; border-radius:10px; border: 1px #f5f5f5 solid; " >
                            <div class="col-md-12">
                                <form name="frmsearch">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-4 col-sm-6">
                                                <label class="control-label">الاسم</label>
                                                <input type="text" class="form-control" name="name" ng-model="row.name"/>

                                                
                                             </div>
                                            <div class="col-md-4 col-sm-6">
                                                <label class="control-label"> اسم المستخدم </label>
                                                <input type="text" class="form-control" name="username" ng-model="row.username"/>
                                            </div>
                                            <div class="col-md-4 col-sm-6">
                                                <label class="control-label"> البريد الالكتروني</label>
                                                <input type="text" class="form-control" name="email"  ng-model="row.email"/>
                                            </div>
                                        </div>
                                        <div class="col-md-12 text-center ">
                                            <div class="col-md-4 text-center pull-right " style="padding-top: 3%;">
                                                <div class="clearfix pull-right">
                                                    
                                                    <button  ng-click="_search(row)" class=" btn green" ><i class="fa fa-search" aria-hidden="true"></i>
                                                        <span class="">إبحث</span>
                                                    </button>
                                                    <button  ng-click="_reset()" class=" btn red" ><i class="fa fa-trash-o" aria-hidden="true"></i>
                                                        <span>إلغاء بحث</span>
                                                    </button>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                            <div class="actions">
                                <div class="clearfix">
                                    <div  class='add-new-btn' style="margin-bottom: 20px;">
                                        <a href="#admins/add/"  class="btn yellow-crusta"> إضافة مدير جديد
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div data-ng-include="'tpl/forms/messages.html'"></div>
                            <div  ng-show="details.length == 0">
                                <table class="table table-striped table-bordered table-hover" id="sample_11">
                                    <thead>
                                        <tr style=" background: #44b6ae; color: #fff;" class="">
                                            <th class="text-center" > الرقم التسلسلي</th>
                                            <th class="text-center" > الاسم</th>
                                            <th class="text-center" > اسم المستخدم</th>
                                            <th class="text-center" > البريد الالكتروني</th>
                                            <th class="text-center" >رقم الجوال</th>
                                            <th class="text-center" >تاريخ التسجيل</th>
                                            <th class="text-center">التفاصيل</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center" colspan="5" >لاتوجد سجلات</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-show="details.length > 0">

                                <table class="table table-striped table-bordered table-hover" id="sample_11">
                                    <thead>
                                        <tr style=" background: #44b6ae; color: #fff;" class="">
                                            <th class="text-center" ng-click="sort('id')"> الرقم التسلسلي
                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th class="text-center" ng-click="sort('name')"> الاسم
                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th class="text-center" ng-click="sort('username')"> اسم المستخدم
                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'username'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                            <th class="text-center" ng-click="sort('email')"> البريد الالكتروني
                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'email'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                            <th class="text-center" ng-click="sort('mobile')">رقم الجوال
                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'mobile'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                            <th class="text-center" ng-click="sort('created_at')">تاريخ التسجيل 
                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'created_at'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>

                                            <th class="text-center">التفاصيل</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="x in details |orderBy:sortKey:reverse|filter:search|itemsPerPage:null">
                                            <td class="text-center" >{{ x.id}}</td>
                                            <td class="text-center" >{{ x.name}}</td>
                                            <td class="text-center" >{{ x.username}}</td>
                                            <td class="text-center" >{{ x.email}}</td>
                                            <td class="text-center" >{{ x.mobile}}</td>
                                            <td class="text-center" >{{ x.created_at|split:' ':0}}</td>
                                            
                                            <td class="text-center" ng-if="x.is_super_admin==0">
                                                <a ng-click="_edit('/admins/add/', x.id)" class="btn fa fa-edit text-success" title="تعديل"></a>
                                                <a ng-click="_delete(x.id)" class="btn fa fa-trash text-danger" title="حذف"></a></td>
                                            <td class="text-center" ng-if="x.is_super_admin==1"></td>
                                        </tr>
                                    </tbody>
                                </table>


                                <uib-pagination total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>