    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-steel">
                        <i class="font-green-steel"></i>
                        <h3>
                            <i class="fa fa-book font-green-sharp"></i>
                            <span class="caption-subject font-dark bold">قائمة الإعلانات</span>
                        </h3>
                    </div>

                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12" style="background-color:  #e7ecf1;margin-bottom: 1%; padding-top: 2%; padding-bottom: 2%; box-sizing: border-box; border-radius:10px; border: 1px #f5f5f5 solid; " >
                            <div class="col-md-12">
                                <form name="frmsearch">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-3 col-sm-6">
                                                <label class="control-label">تاريخ بداية النشر من</label>
                                                <input type="text" class="form-control datepicker" name="from_date" ng-model="row.from_date"/>
                                             </div>
                                            <div class="col-md-3 col-sm-6">
                                                <label class="control-label">تاريخ بداية النشر إلى</label>
                                                <input type="text" class="form-control datepicker" name="to_date" ng-model="row.to_date"/>
                                             </div>
                                        </div>
                                        <div class="col-md-12 text-center ">
                                            <div class="col-md-4 text-center pull-right " style="padding-top: 3%;">
                                                <div class="clearfix pull-right">
                                                    
                                                    <button  ng-click="_search(row)" class=" btn green" ><i class="fa fa-search" aria-hidden="true"></i>
                                                        <span class="">إبحث</span>
                                                    </button>
                                                    <button  ng-click="_reset()" class=" btn red" ><i class="fa fa-trash-o" aria-hidden="true"></i>
                                                        <span>إلغاء بحث</span>
                                                    </button>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                           
                            <div class="actions">
                                <div class="clearfix">
                                    <div  class='add-new-btn' style="margin-bottom: 20px;">
                                        <a href="#advertisments/add/"  class="btn yellow-crusta"> إضافة إعلان جديد
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div data-ng-include="'tpl/forms/messages.html'"></div>
                            <div  ng-show="details.length == 0">
                                <table class="table table-striped table-bordered table-hover" id="sample_11">
                                    <thead>
                                        <tr style=" background: #44b6ae; color: #fff;" class="">
                                        
                                            <th class="text-center" >الإعلان </th>
                                            <th class="text-center"> تاريخ بداية النشر</th>
                                            <th class="text-center"> تاريخ نهاية النشر</th>
                                            <th class="text-center">العملية</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center" colspan="4" >لاتوجد سجلات</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-show="details.length > 0">

                                <table class="table table-striped table-bordered table-hover" id="sample_11">
                                    <thead>
                                        <tr style=" background: #44b6ae; color: #fff;" class="">
                                        
                                            <th class="text-center" >الإعلان </th>
                                            <th class="text-center" ng-click="sort('from_date')"> تاريخ بداية النشر
                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'from_date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                            <th class="text-center" ng-click="sort('to_date')"> تاريخ نهاية النشر
                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'to_date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                            <th class="text-center">العملية</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="x in details |orderBy:sortKey:reverse|filter:search|itemsPerPage:null">
                                            <td class="text-center" ><img src="../local/storage{{x.image}}" width="100" height="100" /></td>
                                            <td class="text-center" >{{ x.from_date}}</td>
                                            <td class="text-center" >{{ x.to_date}}</td>
                                            <td class="text-center">
                                                <a ng-click="_edit('/advertisments/add/', x.id)" class="btn fa fa-edit text-success" title="تعديل"></a>
                                                <a ng-click="_delete(x.id)" class="btn fa fa-trash text-danger" title="حذف"></a></td>
                                        </tr>
                                    </tbody>
                                </table>


                                <uib-pagination total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
            $(document).ready(function () {
                $(".datepicker").mask("9999/99/99");
                $('.datepicker').datepicker({
                    format: 'yyyy/mm/dd',
                    forceParse: false
                });


            });
</script>