
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-arrows-alt font-green-sharp"></i>
                    <span class="caption-subject font-black-sharp bold uppercase">تفاصيل مسار</span>
                </div>
            </div>

            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-5">
                        <p class="col-md-12"><label class="control-label col-md-4 bold"> <i class="fa fa-flag font-green-sharp"></i> الرقم التسلسلي:  </label>
                            <label class="control-label col-md-8">#{{row.order_id}} </label>
                        </p>
                        <p class="col-md-12"><label class="control-label col-md-4 bold"><i class="fa fa-calendar font-green-sharp"></i> تاريخ الإنشاء :  </label>
                            <label class="control-label col-md-8">{{row.date}} </label>
                        </p>
                        <p class="col-md-12"><label class="control-label col-md-4 bold"><i class="fa fa-car font-green-sharp"></i> وسيلة النقل:  </label>
                            <label class="control-label col-md-8">{{row.status.name}} </label>
                        </p>
                        <p class="col-md-12"> <label class="control-label col-md-5 bold"> <input type="checkbox" ng-checked="row.person_count > 0" disabled> نقل أشخاص؟</label>
                            <label class="control-label col-md-7">العدد الأقصى:  <input type="text" value="{{row.person_count}}" style="width: 70px; padding-right: 10px;" disabled /></label>
                        </p>
                        <p class="col-md-12"> <label class="control-label col-md-5 bold"> <input type="checkbox" ng-checked="row.things_count > 0" disabled> نقل بضاعة؟</label>
                        </p>
                        <p class="col-md-12"> <label class="control-label col-md-5 bold"><i class="fa fa-book font-green-sharp"></i>  ملاحظات: </label>
                            <textarea class="col-md-12" rows="4" disabled>{{row.notes}}</textarea>
                        </p>

                    </div>
                    <div class="col-md-7">
                        <div class="col-md-7">
                            <p class="col-md-12"><label class="control-label col-md-6 bold"> <i class="fa fa-bookmark-o font-green-sharp"></i> الحالة:  </label>
                                <label class="control-label col-md-6">{{row.status.name}} </label>
                            </p>
                            <p class="col-md-12"><label class="control-label col-md-6 bold"><i class="fa fa-calendar-check-o font-green-sharp"></i> وقت الإنطلاق :  </label>
                                <label class="control-label col-md-6">{{row.from_date}}</label>
                            </p>
                            <p class="col-md-12"><label class="control-label col-md-6 bold"><i class="fa fa-calendar-check-o font-green-sharp"></i> وقت الوصول:  </label>
                                <label class="control-label col-md-6">{{row.to_date}}</label>
                            </p>
                        </div>   
                        <div class="col-md-5">
                            <div class="note note-success ng-scope">
                                <h4><i class="fa fa-user"></i>
                                    مقدم الخدمة  </h4>
                                <p><label class="control-label col-md-3 bold"> الاسم:   </label>  
                                    <label class="control-label col-md-9">{{row.user.name}}  </label>

                                    <a href="#/users/add/{{row.user_id}}" class="btn leftPanel"><i class="fa fa-eye"></i> تفاصيل</a>
                                </p>
                            </div>
                        </div> 
                        <!--google map-->
                        <div class="col-md-12">
                        <ng-map center="[40.74, -74.18]"></ng-map>
                        </div>
                    </div>

                    <!--tabs-->
                    <div class="col-md-12">
                        <div class="portlet-body">
                            <div class="row" style="border: solid 1px #eee; margin:15px; padding: 15px;">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <ul class="nav nav-tabs tabs-left">

                                <li class="dropdown" >
                                 <a data-target="#tab_6_1" tabindex="-1" data-toggle="tab" aria-expanded="true"> المتقدمين </a>

                                </li>
                                <li class="dropdown" >
                                 <a data-target="#tab_6_2" tabindex="-1" data-toggle="tab" aria-expanded="true"> التقييمات </a>

                                </li>
                            </ul>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <div class="tab-content">

                                <div class="tab-pane fade active in"  id="tab_6_1">
                                <div  ng-show="orders.length == 0"  class="col-md-12 text-center" style="margin-bottom: 2%">
                                <table class="table table-striped table-bordered table-hover" id="sample_11">
                                    <thead>
                                        <tr style=" background: #44b6ae; color: #fff;" class="">
                                            <th class="text-center"> الاسم</th>
                                            <th class="text-center" > من </th>
                                            <th class="text-center" >  إلى</th>
                                            <th class="text-center" > الحالة</th>
                                            <th class="text-center">العملية</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr >
                                            <td class="text-center" colspan="5" >لاتوجد سجلات</td>
                                            </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-show="orders.length > 0">

                                <table class="table table-striped table-bordered table-hover" id="sample_11">
                                    <thead>
                                        <tr style=" background: #44b6ae; color: #fff;" class="">
                                            <th class="text-center" ng-click="sort('user.name')"> الاسم
                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'user.name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th class="text-center" ng-click="sort('from_date')"> من 
                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'from_date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                            <th class="text-center" ng-click="sort('to_date')">  إلى
                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'to_date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                            <th class="text-center" ng-click="sort('status_id')"> الحالة
                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'status_id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>

                                            <th class="text-center">العملية</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="y in orders">
                                            <td class="text-center" >{{ y.user.name}}</td>
                                            <td class="text-center" >{{ y.from_date}}</td>
                                            <td class="text-center" >{{ y.to_date}}</td>
                                            <td class="text-center" ><span ng-if="y.status_id==1">مقبول</span>
                                                <span ng-if="y.status_id==2">مرفوض</span></td>
                                            <td class="text-center">
                                                <a href="#/users/add/{{row.user_id}}" class="btn text-success" title="تفاصيل"><i class="fa fa-list"></i></a>
                                        </tr>
                                    </tbody>
                                </table>


                            </div>

                                </div>
                                
                                <div class="tab-pane fade"  id="tab_6_2">

<div  ng-show="evaluations.length == 0"  class="col-md-12 text-center" style="margin-bottom: 2%">
                                <table class="table table-striped table-bordered table-hover" id="sample_11">
                                    <thead>
                                        <tr style=" background: #44b6ae; color: #fff;" class="">
                                            <th class="text-center"> اسم المستخدم</th>
                                            <th class="text-center" > ملاحظات </th>
                                            <th class="text-center" >  التقييم</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr >
                                            <td class="text-center" colspan="3" >لاتوجد سجلات</td>
                                            </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-show="evaluations.length > 0">

                                <table class="table table-striped table-bordered table-hover" id="sample_11">
                                    <thead>
                                        <tr style=" background: #44b6ae; color: #fff;" class="">
                                            <th class="text-center" ng-click="sort('user.name')"> اسم المستخدم
                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'user.name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th class="text-center" ng-click="sort('from_date')"> ملاحظات 
                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'from_date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                            <th class="text-center" ng-click="sort('to_date')">  التقييم
                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'to_date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="z in evaluations">
                                            <td class="text-center" >{{ z.user.name}}</td>
                                            <td class="text-center" >{{ z.notes}}</td>
                                            <td class="text-center" >{{ z.evaluation}}</td>
                                        </tr>
                                    </tbody>
                                </table>


                            </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->