<div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-steel">
                        <i class="font-green-steel"></i>
                        <h3>
                            <i class="fa fa-arrows font-green-sharp"></i>
                            <span class="caption-subject font-dark bold">رحلات الناقلين</span>
                        </h3>
                    </div>

                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12" style="background-color:  #e7ecf1;margin-bottom: 1%; padding-top: 2%; padding-bottom: 2%; box-sizing: border-box; border-radius:10px; border: 1px #f5f5f5 solid; " >
                            <div class="col-md-12">
                                <form name="frmsearch">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-4 col-sm-6">
                                                <label class="control-label">الاسم</label>
                                                <input type="text" class="form-control" name="name" ng-model="row.name"/>
                                             </div>
                                            <div class="col-md-4 col-sm-6">
                                                <label class="control-label">المدينة</label>
                                                <input type="text" class="form-control" name="city" ng-model="row.city"/>
                                            </div>
                                            <div class="col-md-4 col-sm-6">
                                                <label class="control-label">الحالة</label>
                                                <select class="form-control" name="status_id"  ng-model="row.status_id">
                                                    <option value="">الكل</option>
                                                    <option value="1">جديد</option>
                                                    <option value="2">معلق</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-12 text-center ">
                                            <div class="col-md-4 text-center pull-right " style="padding-top: 3%;">
                                                <div class="clearfix pull-right">
                                                    
                                                    <button  ng-click="_search(row)" class=" btn green" ><i class="fa fa-search" aria-hidden="true"></i>
                                                        <span class="">إبحث</span>
                                                    </button>
                                                    <button  ng-click="_reset()" class=" btn red" ><i class="fa fa-trash-o" aria-hidden="true"></i>
                                                        <span>إلغاء بحث</span>
                                                    </button>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                           
                            <!--                                 <div data-ng-include="'tpl/forms/messages.html'"></div>-->
                            <div  ng-show="details.length == 0">
                                <table class="table table-striped table-bordered table-hover" id="sample_11">
                                    <thead>
                                        <tr style=" background: #44b6ae; color: #fff;" class="">
                                            <th class="text-center" > الرقم التسلسلي</th>
                                            <th class="text-center" >من</th>
                                            <th class="text-center" >إلى</th>
                                            <th class="text-center" >الحالة </th>
                                            <th class="text-center">العملية</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center" colspan="5" >لاتوجد سجلات</td>
                                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-show="details.length > 0">

                                <table class="table table-striped table-bordered table-hover" id="sample_11">
                                    <thead>
                                        <tr style=" background: #44b6ae; color: #fff;" class="">
                                            <th class="text-center" ng-click="sort('order_id')"> الرقم التسلسلي
                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'order_id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th class="text-center" ng-click="sort('from_place')">من
                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'from_place'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                            <th class="text-center" ng-click="sort('to_place')">إلى
                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'to_place'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                            <th class="text-center" ng-click="sort('status.name')">الحالة 
                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'status.name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                            <th class="text-center">العملية</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="x in details |orderBy:sortKey:reverse|filter:search|itemsPerPage:null">
                                            <td class="text-center" >{{ x.order_id}}</td>
                                            <td class="text-center" >{{ x.from_place}}</td>
                                            <td class="text-center" >{{ x.to_place}}</td>
                                            <td class="text-center" >{{ x.status.name}}</td>
                                            <td class="text-center">
                                                <a ng-click="_edit('/carriers/view/', x.id)" class="btn text-success" title="تفاصيل"><i class="fa fa-list"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>


                                <uib-pagination total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>